.formWrapper{
   background-color: var(--bg-color);
   padding-top: calc(var(--tg-content-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
   padding-bottom: var(--tg-content-safe-area-inset-bottom);
   padding-inline: 10px;
}
.labelForm{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.formEntry{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  min-height: 100%;
}

.formGroup{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}
.button{
  all:unset;
  height: 40px;
  padding-inline: 10px;
  line-height: 1;
  font-size: 2rem;
  background-color: var(--accent-color);
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
}
