.inputGroup{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.7rem;
  color: var(--text-color);
}

.label{
  text-align: left;
}
.input{
  all: unset;
  box-sizing: border-box;
  border: 1px solid var(--border-color-input);
  height: 40px;
  border-radius: 8px;
  padding-inline: 10px;
  line-height: 1;
  width: 60px;
  min-width: 100%;
}