#root {
  max-width: 1280px;
  margin: 0 auto;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  padding-bottom: env(safe-area-inset-bottom); /* Оставляем место для клавиатуры */
}
